*{
    margin: 0px;
    padding:0px;
}

/*===========内容容器样式==============*/
.container{
    margin: 20px;
    padding: 20px;
    background-color: #eeeeee;
    border: 1px solid #999999;
    height: 540px;
    position: relative;
}

/*============左栏样式==============*/
.left{
    padding: 20px;
    width: 158px;
    height: 78px;
    background-color: white;
    border: 1px solid #999999;
    position: absolute;
}
.left img{
    display: block;
    width: 80px;
    height: 80px;
    float: left;
}
.left cite{
    display: inline-block;
    clear: both;
    margin-left:20px ;
}

/*============中间栏样式==============*/
.middle{
    float: left;
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999999;
    background-color: white;
    position: relative;
    max-height: 560px;

    /*文字样式*/
    font-size: 21px;
    color: #3b3e3d;
    font-weight: bold;
}

/*============右栏样式==============*/
.right{

    width: 118px;
    height: 520px;
    right: 0px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid #999999;
    position: absolute;
}
.right img{
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px;
}